@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #607D8B; /* blue gray */
  --secondary-color: #78909C; /* light blue gray */
  --gray-color: #F5F5F5; /* light gray for text */
  --black-color: #333333; /* dark gray */
  --lightGray-color: #ECEFF1; /* very light blue gray */
  --brown-color: #B0BEC5; /* muted blue */
  --white-color: #FFFFFF; /* white */



}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}